.circulo{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;

	background: #C0C0C0;	

	/*margin: 20px 20px;*/
}

.fundo{
	/*margin: 20px;
	background-color: #00BFFF;
	width: 1000px;
	height: 300px;*/
}

body{
	margin:0;
	padding: 0;
}

.menu{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 15px;
	background-color: #4d82de;
	color: #fff;
	cursor: pointer;
}