

.circulo{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
   border-width: 1px;
    border-style: solid;
    border-color: black;

	background: #C0C0C0;
	margin-left: auto;
	margin-right: auto;	
}

.teste{
}

body, div{
	margin: 0;
	padding: 0;
	border: 0;
	top: 0;
	left: 0;
}
.fundo{
	width: 100%;
	height: 100%;
	}



.menu{
	position: absolute;
	padding: 15px;
	left:50%;
	top:50%;
	margin-left: -174px;
	margin-top: -60px;
	background-color: #4d82de;
	color: #fff;
	cursor: pointer;
}

.slot-interface-config{
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -200px;
	margin-top: -200px;
}