.circulo{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
   border-width: 1px;
    border-style: solid;
    border-color: black;

	background: #C0C0C0;
	margin-left: auto;
	margin-right: auto;	
}

.teste{
	height: 600px;
	width: 600px;
	background: #C0C0C0;
}

.fundo{
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -300px;
	margin-top: -300px;
}

body{
	margin:0;
	padding: 0;
}

.menu{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 15px;
	background-color: #4d82de;
	color: #fff;
	cursor: pointer;
}